<div class="the-end">THE END</div>

<div class="menu">
	<p>Start over again at the <a href="/">title page</a>, or jump directly to another ending:</p>
	<ul>
		<li><cite class="proposal">Be the Composer</cite> (<a href="/page4">page 4</a>).</li>
		<li><cite class="proposal">Dare You Accept the Challenge?</cite> (<a href="/page5">page 5</a>).</li>
		<li><cite class="proposal">You Choose the Adventure</cite> (<a href="/page7">page 7</a>).</li>
		<li><cite class="proposal">Going Viral</cite> (<a href="/page8">page 8</a>).</li>
		<li><cite class="proposal">Postmodern Pointillism</cite> (<a href="/page9">page 9</a>).</li>
		<li><cite class="proposal">Where Will You Be?</cite> (<a href="/page11">page 11</a>).</li>
		<li><cite class="proposal">Degrees of Separation</cite> (<a href="/page12">page 12</a>).</li>
		<li><cite class="proposal">You Are the Heat Map</cite> (<a href="/page13">page 13</a>).</li>
		<li><cite class="proposal">Make Your Own 3D Souvenir</cite> (<a href="/page28">page 28</a>).</li>
		<li><cite class="proposal">Digital Dancing</cite> (<a href="/page29">page 29</a>).</li>
	</ul>

	<h3>About this Proposal</h3>
	<p>When my editor encouraged me to submit an OSCON proposal, my problem was not having an idea: my problem was picking only one.  So I decided to pitch them all.  The "<a href="/choose-your-own-adventure">Choose Your Own Adventure</a>" books were favorites of mine when I was young, and I thought it would be a fun way to present my ideas.</p>
	<p>All of these proposals represent talks that I have the knowledge and resource to execute on.  Some of them will require more work to prepare for than others, but even the most ambitious of these proposals could be readied within two months with dedicated effort.</p>
	<p>Like O'Reilly, I would like to see more diversity in my field.  There's nothing I can do about my gender or skin color; however, some of my proposals are collaborative, and I would be bringing a little diversity to the stage that way.  In particular, the dancers I know that have expressed interest in <cite class="proposal">Digital Dancing</cite> (<a href="/page29">page 29</a>) are all women or minorities.</p>
	<p>This site is powered by <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a>.  It is based on <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.  You can see the flow diagram <a href="/img/map.jpg">here</a>.</p>

	<h3>About Me</h3>

	<p>I was practically born a technologist.  I followed in the footsteps of my father, an electrical engineer, earning undergraduate degrees in theoretical mathematics and computer science before embarking on a career as a software engineer.  I'm now a senior software engineer at <a href="http://popart.com">Pop Art</a>, a Portland-based interactive marketing agency, and I'm working on my first O'Reilly title, <cite>Web Development With Node and Express</cite>, due for publication in June.</p>
	<p>
		<a href="mailto:e@zepln.com">e@zepln.com</a> |
		<a href="http://zepln.com/ethan_brown_resume.pdf">resume</a> |
		<a href="http://stackoverflow.com/users/1198509/ethan-brown">stack overflow</a><br>
		<a href="http://blogs.popart.com/author/ethanbrown/">blog</a> |
		<a href="https://twitter.com/EthanRBrown">twitter</a> |
		<a href="http://www.linkedin.com/profile/view?id=138581275">linkedin</a>
	</p>
</div>
