<div class="the-end">THE END</div>

<div class="menu">
	<p>Start over again at the <a href="/">title page</a>, or jump directly to another ending:</p>
	<ul>
		<li><cite>Be the Composer</cite> (<a href="/page4">page 4</a>).</li>
		<li><cite>Dare You Accept the Challenge?</cite> (<a href="/page5">page 5</a>).</li>
		<li><cite>You Choose the Adventure</cite> (<a href="/page7">page 7</a>).</li>
		<li><cite>Going Viral</cite> (<a href="/page8">page 8</a>).</li>
		<li><cite>Postmodern Pointillism</cite> (<a href="/page9">page 9</a>).</li>
		<li><cite>Where Wil You Be?</cite> (<a href="/page11">page 11</a>).</li>
		<li><cite>Degrees of Separation</cite> (<a href="/page12">page 12</a>).</li>
		<li><cite>You Are the Heat Map</cite> (<a href="/page13">page 13</a>).</li>
		<li><cite>Make Your Own 3D Souvenir</cite> (<a href="/page28">page 28</a>).</li>
	</ul>
	<h3>About the Author</h3>
	<p>Ethan Brown was practically born a technologist.  Following in the footsteps of his father, an electrical engineer, Ethan
		earned undergraudate degrees in theoretical mathematics and computer science before embarking on a career as a software
		engineer.  He's now a senior software engineer at Pop Art, a Portland-based interactive marketing agency, and is working
		on his first O'Reilly title, <cite>Web Development With Node and Express</cite>, due for publication in June.</p>
	<p>
		<a href="mailto:e+oscon2014@zepln.com">e+oscon2014@zepln.com</a> |
		<a href="http://zepln.com/ethan_brown_resume.pdf">resume</a> |
		<a href="http://stackoverflow.com/users/1198509/ethan-brown">stack overflow</a><br>
		<a href="http://blogs.popart.com/author/ethanbrown/">blog</a> |
		<a href="https://twitter.com/EthanRBrown">twitter</a> |
		<a href="http://www.linkedin.com/profile/view?id=138581275">linkedin</a>
	</p>
</div>
