<div class="page-number even">404</div>

<h1>Not Found</h1>

<p>You have arrived at a page that doesn't exist.  You suddenly can't feel your hands.  You look down with alarm, but you don't have any eyes to look down with.  The world is white...so very, very white.  Or is it black?  What do these words even mean?</p>

<p>As conscious thought begins to fade, you realize you have one last chance to <a href="/">return to the title page</a>.</p>

{{> the_end}}
