<div class="page-number even">500</div>

<h1>Server Error</h1>

<p>You are surrounded by colors that don't make sense, and sounds that can't possibly be hear.  All you can see are shapes that can't possibly exist.  You close your eyes and hope fervantly that when you open them, things will be normal again....</p>

{{> the_end}}
