<div class="page-number odd">7</div>

<p>In a fit of capriciousness, you close your eyes and put your finger down on the schedule.  When you open them, it seems that you're fated to go to <cite>YOU CHOOSE THE ADVENTURE</cite>.  Sounds like fun!</p>

<p>As the audience settles in, the presenter pulls a URL up on the screen and, after introducing himself, says "this is kind of like improv comedy, except with JavaScript instead of jokes."  He invites everyone to go to a URL, and explains that you will be presented with some choices.  What you pick will determine the direction of the talk.  It will be democratic, with the most popular change of direction being picked.</p>

<p>The context is proscribed, of course: an area the presenter knows well.  As a matter of fact, the topic tree describes areas of his recently-published book, <cite>Web Development with Node and Express</cite>.  He explains that the book could have been twice as long, or even three times as long, if he had gone down every road he wanted to.  "And here," he says, "is your chance to pick which road to go down.  If you've read the book already, that's great.  If you haven't, hopefully you'll want to by the end of the talk.</p>

<p>You haven't read the book yet (but it's on your list), so most of the material is new to you.  It's presented well, though, and you feel like you have a really solid grasp of things that have always eluded you before by the time the talk is over.</p>

<ul class="instructions">
	<li>If your brain is full, <a href="/page15">turn to page 15</a>.</li>
	<li>If this conference isn't...fuzzy enough for your tastes, <a href="/page10">turn to page 10</a>.</li>
</ul>
