<div class="page-number even">26</div>

<p>The clean-cut young men manning the XBox booth fawn all over you..."check out these new games," they croon at you.  As you pick up a plastic rifle to play a next-generation shooter, a young man in a Microsoft-branded polo shirt comes up to you with a strange looking accessory.  He says "this is the newest advance from XBox labs: it measures your IQ in real-time.  We're trying to show the world that playing video games has no effect on your IQ.  It can even make it go up!"  The headgear looks a little scary, and you're about to refuse, but there's something...hypnotic about his smile.  So you allow him to put the thing on your head...it feels oddly cold.</p>

<p>You start the level, and the realistically-rendered aliens come fast and hard.  As you blast away, you notice your IQ displayed in the corner: a very respectable 120.  You get absorbed in the game, and minutes go by.  During a brief lull in the action, you look back up at the IQ display, and are shocked to see that it's down to 105.</p>  You are about to rip the headgear off, but the young man with the hypnotic smile is right there.  "Don't worry," he says, "there's always a little dip at first.  It's normal.  It'll go back up as your brain gets used to the game stimulus, trust me...."</p>

<p>You want to say "thanks but no thanks," but there's something about his smile, and you find yourself turning back to the game....</p>

<p>You barely even notice when your IQ dips below 90.  What little is left of your mind finally registers dull alarm when it hits 80.  You feebly attempt to set the plastic rifle down, but you're surrounded by such nice young men.  "Don't you want to get the next achievement, they say?"  "You can post it on XBox Live...all your friends will see.  You have so many friends now...."</p>

<p>The last rational thing you ever think is "why did I ever leave OSCON?"  You never answer your own question, though.  Another wave of digital enemies is descending on you, and your new friends are expecting you to earn that achievement....</p>

{{> the_end}}
