<div class="page-number even">22</div>

<p>You gather your stuff and get up, feeling dissatisfied: you've been teased!  Such a fascinating talk, and no chance to get your hands dirty with some open source music libraries.  As you're walking out, an oddly-dressed gentleman stops you to ask what you thought of the talk.  You start to answer him, but suddenly your attention is caught by a shiny button on his lapel...so shiny...suddenly the room starts spinning, and everything goes dark</p>

<ul class="instructions">
	<li><a href="/page28">Turn to page 28</a>.</li>
</ul>
