<div class="page-number even">2</div>

<p>You find your seat, and watch the rest of the audience filtering in.  As you might expect, there's a higher percentage of business types in this talk.  Lots of suits and polo shirts.</p>

<p>The presenter is wearing an expensive-looking suit, and his hair is perfect.  You watch him fumble with his laptop, bringing up Microsoft PowerPoint, and already you feel some small part of your mind turning off.  Things don't get much better as he launches into a litany of open source programs that are being used for stock analysis on Wall Street.</p>

<p>The presenter's voice fades into background noise, and you start to look around at your fellow attendees, your mind starting to wander.  You feel your mobile phone buzz in your pocket at the same time you notice a distinctly non-businesslike figure.  He's sitting near the exit with an unlit cigarette dangling nonchalantly form his mouth.  He's staring off into the distance though tousled pitch black hair: he's prettier than your girlfriend.  He's wearing a Zappa t-shirt, and you notice a Black Flag tattoo on his forearm.  He suddenly focuses sharply on the presenter, shakes his head, and gets up and slips out of the room.</p>

<ul class="instructions">
<li>If you choose to follow the intriguing stranger, <a href="/page4">turn to page 4</a>.</li>
<li>If you choose to check the text message you just received, <a href="/page13">turn to page 13</a>.</li>
</ul>
