<div class="page-number odd">5</div>

{{> vote}}

<h1><cite class="proposal">Dare You Accept The Challenge?</cite></h1>

<p>You pull your phone out of your pocket and check your messages.  It's from your friend back home.  It says "I just heard from someone that the talk to be at is <cite class="proposal">Dare You Accept The Challenge?</cite>...you should check that out."  Relieved at having a justification to ditch this boring talk, you figure out what room the talk is in and head over there.</p>

<p>As you walk the mostly-deserted conference center halls, you suddenly feel lonely and sad.  You wish your friend had come with you: it would be so much more fun to explore this new city with a friend!  As you slip into the already-crowded conference room, you hope to yourself that the talk is interesting enough to take your mind off things.</p>

<p>After you make your way to one of the few open seats, you note that the speaker is talking enthusiastically about Portland, and is working his way through a sideshow of pictures and videos from town.  He speaks engagingly about the town, and you take a mental note of a couple of places he mentioned that you wouldn't mind visiting.</p>

<p>Then the talk shifts direction to talk about community in our digital world: how technology offers such amazing opportunity for collaboration, socialization and community, but that it's a double-edged sword.  "The Internet is like a Siren," he says, "luring you away from physical proximity with people, and onto the rocks of isolation and glowing screens."  Just as your Luddite sirens are about to go off, he redeems himself by claiming that we can have our cake and eat it too.  He claims that Twitter and Facebook and GitHub are capable of bringing us together, here, in the real world, just as easily as it can isolate us.</p>

<p>He goes on: "You're in a new town.  Or, if this is your home town, I challenge you to look at it with fresh eyes.  And more than that, I'm going to challenge you all to meet new people right here, right now.  Don't worry, I'm not going to make you turn to your left and introduce yourself: it'll be better than that."</p>

<p>He then throws a URL on the screen, and encourages people to go there.  "Not only do I not care if you're looking at your phones instead of me, I <i>encourage</i> it.  There's going to be plenty of time for that."  You go to the URL and find a list of challenges...things like "Get the highest Donkey Kong score at Ground Kontrol" and "Take a photo recreating Jean Jacques François Lebarbier's <i>A Spartan Woman Giving a Shield to Her Son</i> in front of the painting itself."  The presenter explains that these are all challenges that can't be done alone: they require other people.  If you accept a challenge, the website will allow you to coordinate with the other people who accepted the challenge so you can do it, this week, while you're here in Portland.</p>

<p>The talk then turns to a discussion of the open source technology used to create the website.  During the explanation, a real-time list of challenges, and the number of people accepting them is always on the side of the screen...you find yourself excited to meet the three other people who accepted the "sample three different exotic whiskeys at the Multnomah Whiskey Library" challenge.</p>

<ul class="instructions">
	<li>If you're too excited about your challenges to go to any more talks, <a href="/page6">turn to page 6</a></li>
	<li>If you're feeling adventurous, <a href="/page7">turn to page 7</a>.
</ul>
