<div class="page-number odd">13</div>

{{> vote}}

<h1><cite class="proposal">You Are The Heat Map</cite></h1> 

<p>You pull your phone out and check your text messages.  It's from your best friend back home.  It reads "I just read about this talk you should go to...YOU ARE THE HEAT MAP.  Makes me wish I had gone with you!"  Anxious to escape the tedium of the stuffy Wall Street nerd, you head for the exit.</p>

<p>No one even notices as you walk into the mostly-full conference room.  Their attention is riveted on the conference room screen, on which colorful blobs are swelling and being connected with lines.  As you sit down, you notice that half the audience is splitting their attention between the presenter and their phones, and that there's a URL at the bottom of the screen.  You pull out your phone, and enter enter the URL.  You see a handsome mobile site with a header that says "CHOOSE YOUR INTERESTS".  Under that, there's a serious of buttons.  Some are obvious (like "Linux") and some are unusual (like "molecular gastronomy").  You click on one, and it disappears, only to be replaced by another.  You click on the "other" button and type in "falconry" (your new favorite hobby) before looking up.  Just as you're wondering why "falconry" hasn't appeared on screen, the presenter explains that there's a delay so that topics that are leaders can be distinguished from "me too" votes.  It's fascinating to watch the "topic blobs" swell and shift to make room for each other.  The presenter explains how the lines connecting topics indicate people that share the same two interests, and how the lines grow brighter when more people share those two interests.</p>

<p>Then, the topic map is replaced by a scene from Star Trek IV, when Spock is confused by the computer asking him "HOW DO YOU FEEL?".  The presenter then types something on his laptop, and you notice that your phone has refreshed the page...now the question reads "HOW DO YOU FEEL", and a new cloud starts to form.</p>

<p>After the cloud has settled down, the presenter launches into a technical explanation of the open source technologies that make this app tick.  As the talk draws to an end, the display is replaced by an overlay of the interest and mood maps, showing the surprising relationships between people's moods and interests.</p>

<ul class="instructions">
	<li>If you don't feel that you could possibly attend a better talk today, <a href="/page21">turn to page 21</a>.</li>
	<li>If you kept wishing you had gone to that talk about 3D printing instead, <a href="/page12">turn to page 12</a>.</li>
	<li>If you were hoping for something more...artistic...<a href="/page29">turn to page 29</a></a>.
</ul>
