<div class="page-number odd">1</div>

<p>It's your first year at OSCON, the world's largest open-source conference.  You traveled across the country to Portland, Oregon, to find out about the latest in open source, and rub elbows with other geeks like yourself.  You're excited and a little scared: you're in a new city, and you don't know anybody.  When you checked into the hotel, and told the desk clerk you were here to see OSCON, he looked at you funny and said "take care of yourself, now."</p>

<p>Your wake-up call comes at 8 a.m., sharp, and you rub the sleep out of your eyes, and open the curtains to a sunny morning.  You immediately notice a man in a dark coat, sunglasses, and a broad-brimmed hat looking up at your hotel room.  He looks away and walks off quickly.  You think it's odd that he's wearing a coat in the middle of June, but you put it out of your mind.</p>

<p>You take a shower, get dressed, and leave the hotel, walking the two blocks to the conference center.</p>

<p>You start to get excited as you see the diversity of people pouring into the conference center: from poorly-dressed, unkempt traditional geek types to too-cool-for-school hipsters, to artsy types with shocking hair color, to well-dressed businesspeople.</p>

<p>You go to the registration booth, and pick up your swag and pass, which you hang around your neck.  As you turn away from the volunteer at the registration booth, you're sure you hear her say "be careful," but when you look back quizzically at her, she's already helping the next conference attendee.</p>

<p>Something told you when you registered that it would be more fun not to have a plan in advance, so you haven't even looked at the schedule yet.  You look at the available talks that are just about to start.</p>

<ul class="instructions">
<li>If you choose to attend "Open source on Wall Street", <a href="/page2">turn to page 2</a>.</li>
<li>If you choose to attend "Is Perl making a comeback?", <a href="/page3">turn to page 3</a>.</li>
</ul>