<div class="page-number even">8</div>

{{> vote}}

<h1><cite class="proposal">Going Viral</cite></h1> 

<p>You decide to stop and get a snack, even though it will make you a little late for the next talk on your list, <cite>GOING VIRAL</cite>.</p>

<p>As you walk in, the energetic presenter sounds like he's halfway through introducing himself.  "Good," you think to yourself, "I didn't miss anything".  The presenter introduces an experiment that he would like the whole audience to participate in.  "We're going to see how fast something can go viral," he says.  He asks everyone to take out their phone, tablet, or laptop, and go to a URL that fades into view on the conference room screen.  Intrigued, you pull out your phone and type in the URL.  A handsome mobile website pops up that welcomes you to the experiment.  You immediately notice a counter that has climbed from 3 to 15 within a few seconds, and a spinning globe with little flashes of light centered on Portland.  At the presenter's prompting, you scroll down past the fold to find buttons to link to every major social network.  You briefly consider whether or not you're spamming your friends, but the genuine curiosity about how far &mdash; and how fast &mdash; things spread on the Internet overcomes your hesitation.  You share on Facebook and Twitter, and look back up to see a global map with dots starting to pop up farther and farther away, with lines connecting them.  The display is beautiful: dots shine briefly and fade to a soft glow, and the lines that connect them pulse gently.</p>

<p>The content of the talk moves to how this site was accomplished with open source technologies, particularly Node and MongoDB.  As code samples and supporting information is displayed, the interactive map never goes away: it is only minimized, or in the background.  You are impressed by the compactness of the Node-based solution.</p>

<p>It's been a long day at the conference, and you've seen some great presentations...your brain is full, so you decide to head back to the hotel.  After a night on the town (Portland sure is fun!), you drift off, dreaming open source dreams.</p>

{{> the_end}}
