<div class="page-number even">4</div>

<p>You follow the cooler-than-thou music lover into an already full conference room and find a seat.  You immediately notice that, unlike most talks, you hear more than a presenter droning on &mdash; there's a rhythmic "boop boop beep" in the background &mdash; and you notice the pleasing sounds correspond to some colored squares on the conference room screen.  A radar-like sweep moves across the screen, from left to right, and whenever it lands on one of the boxes, a sound is generated.  You've seen this before online: musical "toys" that allow someone to play around with rhythmic and chordant sounds without a lot of training.</p>

<p>Intrigued, you tune into the words the presenter is staying.  There are two of them, actually, and you learn that one is a programmer, and the other is a music instructor.  And now they're asking you to pull out your phone, and go to a URL.  You do, and you see something similar  the display on screen, along with some buttons labeled things like "inspiring", "mournful", "triumphant", and "humorous".  The sounds that are being generated in the room, as it turns out, are collaborative: the audience is collectively adding their own nuances and themes to the music that's being generated as the talk proceeds.</p>

<p>You are told that you can even turn the volume up on your phone...the sounds that come out of it will be synchronized with the collective rhythm.</p>

<p>After allowing the collectively-generated music build to something interesting, the nerdier of the two presenters talks about the open source tools that were used to build the app: how synchronization was achieved, and a discussion of the algorithms used to capture the democratic gestalt of the crowd.</p>

<p>At the end of the talk, the presenters reveal a new page on the mobile site: samples.  In a few minutes, some samples have been added into the collaboratively composed piece of music!  The piece is declared "done", and it is immortalized as an artifact of the talk.</p>

<ul class="instructions">
	<li>If you thought that was a fun distraction, but you're more of a long-term thinker, <a href="/page11">turn to page 11</a>.</li>
	<li>If your heart is pumping to the beat, and you want MORE, <a href="/page22">turn to page 22</a>.</li>
	<li>If the music has soothed your savage breast, <a href="/page25">turn to page 25</a>.</li>
</ul>
