<h1>Choose Your Own Adventures</h1>

<p>There's nothing that I can tell you about the history of the Choose Your Own Adventure books that the <a href="http://en.wikipedia.org/wiki/Choose_Your_Own_Adventure">Wikipedia article</a> can't tell you better.  What you can't get from Wikipedia is my relationship to these books.  They were dearly beloved by me as a child and, even though I may have progressed to more sophisticated literature, they still hold a great deal of nostalgia for me.</p>

<p>I have tried as best as possible to replicate the second-person drama of the franchise.  It was much more fun than I thought it would be.</p>

<p>I shamelessly stole the cheesetastic illustration of the running teenager from book #1:</p>

<img src="/img/cyoa-1.jpg" alt="The Cave of Time"><br>

<p>Here are some other classic titles:</p>

<img src="/img/cyoa-4.jpg" alt="Space and Beyond"><br><br>
<img src="/img/cyoa-7.jpg" alt="The Third Planet from Altair"><br><br>
<img src="/img/cyoa-10.jpg" alt="The Lost Jewels of Nabooti"><br><br>
<img src="/img/cyoa-12.jpg" alt="Inside UFO 54-40"><br><br>

<p>The one that I loved the most, however, was from a Simon & Schuster copycat series, "Plot Your Own Horor Stories":</p>

<img src="/img/space-age-terrors.jpg" alt="Space Age Terrors!"><br>

<p>Really, though, none of these titles can hold a candle to <cite class="proposal">TERROR AT OSCON 2014</cite>, so I'll <a href="/">let you get back to it.</p>
