<div class="page-number even">24</div>

<p>You follow the young man into a room with gleaming PCs.  Everything is spotless, and there's some soft music in the background...you identify it as a muzak version of Twisted Sister's <i>We're Not Gonna Take it</i>.  You feel like you should be offended at that, but there's something about the soft, soporific muzak that's making you feel relaxed and peaceful.</p>

<p>You sit down at an empty computer, and turn your attention to the presenter.  He's emanating this odd glow, and his smile is...mesmerizing.  You can't stop staring at his white teeth...so very, very white....</p>  As he starts talking, you finally manage to wrench your attention to the PC in front of you.  You've never noticed how...beautiful the ribbon bar is.  You seem to vaguely recall thinking once that it was a silly UI, but why would you have ever thought that?  You put it out of your mind as you click on a button....  As you click on it, a warm feeling spreads from your fingertips to the rest of your body.  How could you ever have thought that icons were a wasteful UI element?  A brief image of a UNIX command line flashes through your mind and then is gone....</p>

<p>An hour later, you've moved on to PowerPoint.  For some reason, the name "Tufte" briefly floats to your consciousness and then is gone.  After making a dozen or more slides, it's time for some work with Excel.  Using Excel, some part of you wakes up.  You think of command lines, lean user interfaces, and code that you can verify with your own eyes.  What are you doing here?  You start to struggle to your feet, but you feel firm, gentle hands on your shoulders. The man with the white teeth (so white)...he reaches down and closes Excel.  "Let's go back to PowerPoint," he says..."I don't think you're ready for Excel."</p>

<p>As you mechanically start to arrange a series of slides, some part of you is panicking.  But even that's fading: you realize it's too late.  As you accept a nonsensical grammar suggestion on one of your slides, the last rational thing you ever think is "at least I got to go to OSCON once...."</p>

{{> the_end}}
