<div class="page-number odd">15</div>

<p>You decide to skip the rest of the day's activities so you can head over to Powell's Books to pick up a copy of <cite>Web Development with Node and Express</cite>.  It's a beautiful day, so you decide to walk across the Burnside bridge and stretch your legs.</p>

<p>You're halfway over the bridge, when you hear a high-pitched humming sound that's quickly joined by a throbbing sound that vibrates the bridge under your feet.  You turn around and see something massive and alien hovering over the convention center that you just left...it's dark and menacing, and has curves that shouldn't exist...it makes your stomach churn.  As you watch, horrified, a blue ray lances out from the bottom of the craft, and the humming reaches a nearly unbearable volume.  You watch, helpless, as the glass ceiling of the convention center explodes upward, and hapless convention attendees are sucked up into the craft, as if gravity had been reversed.</p>

<p>You tear your eyes away, and start running...you don't know if the aliens are after open source experts or not, but you don't want to take any chances....</p>

<p>You've managed to escape OSCON alive.  This time.</p>

{{> the_end}}
