<div class="page-number odd">11</div>

<h1><cite class="proposal">Where Will You Be?</cite></h1> 

<p>You look down at your schedule, and one talk catches your eye: <cite>WHERE WILL YOU BE?</cite>.  You grab your bag, and head over to the appropriate conference room.</p>

<p>As you take your seat, you look around at your fellow audience members.  You know from the description of the talk that these people are going to be tied to you.  Your brothers and sisters.  Which one will be the CEO of a Fortune 500 company, built on open source?  Which will be part of the team that cures cancer, using open source tools to collect data?  Maybe those people are in this room with you right now.</p>

<p>As the murmuring from the audience dies down, the speaker starts by saying "where will you be in five years?  In seven?  In ten?  Have you ever been in a group of people, and wondered where you would all go?  All the meandering lines on a map, all of the potential, where does it all go?"  He shows a brief clip from the <cite>Up</cite> documentary, which tracks fourteen British children over the course of their lives.  When the clip ends, he says "we're going to make our own makeshift digital documentary.  We are not entirely random strangers: we have been brought together by this conference and, within this context of this conference, this talk."</p>

<p>He then throws a URL up on the screen.  "This is opt-in," he says.  "Just being in this room doesn't obligate you to anything, but I encourage you all to participate.  It'll be better that way."  He asks everyone to pull out their phones and register.  You can connect with all the major social networks, and you are asked to provide an email address and preferably at least two social networks.</p>

<p>He then shows a demo of the website: simulating the passage of time.  How people leave this room, and go out in the world.  Travel, accomplishments: whatever people want to share.  "The point is not necessarily to make friendships, though you are welcome to, of course.  This is simply an exercise in curiosity."</p>

<p>You decide it sounds interesting, so you sign up, and link your Twitter, Facebook, and LinkedIn profiles to the site.  You then turn your attention back to the speaker, who is now going into the open source technologies that are powering the site, and providing the social network integration.</p>

<p>After the talk is over, you file out of the room with your fellow travelers...and think it will be interesting to see where they all are in five years.</p>

<ul class="instructions">
	<li>If you think this talk can't be beat, <a href="/page16">turn to page 16</a>.</li>
	<li>If you enjoyed it, but you were hoping for something a little more artistic, <a href="/page9">turn to page 9</a>.</li>
</ul>
