
<a href="/page1"><img src="/img/title-2.jpg" style="max-width: 100%; height: auto;"></a>

<ul class="instructions">
<li>Turn to <a href="/page1">page 1</a>.</li>
<li>If you've never heard of a "Choose your Own Adventure" book, turn to <a href="/page99">page 99.</li>
</ul>
