<div class="page-number even">12</div>

{{> vote}}

<h1><cite class="proposal">Degrees of Separation</cite></h1> 

<p>As you sit there listening to the speaker taking questions, you hear a strange distorted groaning sound.  You look around, and much to your shock, you see a large, blue police call box fade into existence.  What's even stranger is that no one else seems to notice.  Once the box is fully solid, a decidedly odd-looking man in a violently colored frock coat jumps out and looks around wildly.  As soon as he spots you, he runs over to you and says "well, come on, then!"</p>

<p>Despite yourself, you feel compelled to follow this enigmatic stranger.  He disappears into his police box.  Puzzled, you follow him.  You are shocked to find that it's bigger on the inside.  The stranger is frantically pulling at knobs and levers on a central console.  You try to interrupt him and ask what's going on, but he just mutters something about fixing a error in the space-time continuum.</p>

<p>After some queasy-making lurches, the room finally stops shaking, and the odd gentlemen opens the door, and gestures for you to go through it.  Once again, you feel compelled to follow his instructions, though you don't know why....</p>

<p>You step out into the same conference room you left...except it's subtly different.  The carpet's a different color, and the pretty brunette you noticed earlier is now a blond.  You feel the sudden desire to turn around to ask..."who?", you think to yourself.  By the time you turn around, you've forgotten all about the strange man.  Shaking your head, you find a seat, and tune in to what the presenter is saying....</p>

<p>There are colored blobs on the screen, with lines connecting them.  They seem strangely familiar, but you can't put your finger on where you've seen them before.  The speaker invites you to log onto a nice mobile website where you find you can choose from a list of interests ("beekeeping"?  yes please!).  As you choose interests, they appear on the conference room screen, along with everyone else's choices.</p>

<p>After a while, the speaker starts talking about how we can look at this data...he says that we can opt to look at this demographic data we've collected as a 3D surface...we just need to pick axes.  With the audience's full attention, the speaker tries some different axes on for size.  "Creative vs. Technical", "Urban vs. Rural", and so on.  Every pair of axes he picks shows an interesting 3D surface, with all of the audience's data represented as bumps or dips.</p>

<p>The talk wraps up with a discussion of the open source tools used to do the 3D surface mapping, and how that software is used to generate files that can be used by 3D printers to generate a physical manifestation of the 3D surface representing the audience's interests.  With glee, you discover that he will be sending an order to a 3D printing shop, and for a small fee, you can get your very own souvenir of today's talk.  What's even better, is one of the bumps represents <i>you</i>.</p>

<ol class="instructions">
	<li>If you think it can't get better than this, and you're ready to head home, <a href="/page14">turn to page 14</a>.</li>
	<li>If you're interested in something with a little more reach, <a href="/page8">turn to page 8</a>.</li>
	<li>If you think that the talk was neat, but you're really not sure you can trust all this open source nonsense, <a href="/page20">turn to page 20</a>.</li>
</ol>
