<div class="page-number even">28</div>

{{> vote}}

<h1><cite class="proposal">OSCONOPHONE</cite></h1> 

<p>Your eyes are closed.  Everything is dark.  You hear a soft susurrus that grows in volume until you can distinguish it as people talking...normal talking, chattering about the conference, about Portland.  You open your eyes and look around.  You're in a different conference room this time: there are tables instead of rows of chairs, and you're seated at one, your laptop open.  You hear someone say "ready to get started?" and you look up to see a speaker...he looks vaguely familiar, but you can't seem to focus....  You shake your head to clear it, and glance at the clock.  You feel like it should be later...didn't you already go to the 9 a.m. talk?  You glance at your phone, and it agrees with the clock on the wall.</p>

<p>Suddenly, you have a brief memory of a odd-looking man with a shiny lapel button...so shiny...and just as quickly, the memory is gone.</p>

<p>You rub your eyes and think to yourself "man, I've got to get more sleep."  You've missed what the speakers been saying for the last couple of minutes, so you tune in.  Despite your confusion, you're pleased to find he's talking in some detail about open source JavaScript libraries for audio processing, and he's inviting you start in on some code that's being displayed on the screen.</p>

<p>Three hours later, you walk out of the workshop feeling satisfied.  You learned about several JavaScript audio libraries, from low-level ones that could generate basic waveforms, to high-level ones that perform sampling and more advanced effects.  At the end of the talk, you had successfully put together a simple but amusing "instrument" of your own creation.</p>

<p>You can't stop thinking about all the ways you can improve on your newly-minted instrument...you decide to call it an "Osconophone".  You make up your mind to ditch the rest of the day's events to head to a coffee shop, plug in some headphones, and start working on it.</p>

{{> the_end}}
