<div class="page-number odd">23</div>

<p>You pull open the door marked "CAUTION: EXTREME CAT LOVERS ONLY," and see only blackness beyond.  You fumble around for a light switch, and flip it on.  Instead of lighting up the room, a very faint light comes on, so low you can barely see.  You make out a stooped figure standing by a large cage.  You can barely make out that it's an old man, who turns around to look at you.  It seems like his eyes flash like a cat's, but you dismiss it as your imagination.  "They have very good night vision, you know," the old man says, and turns away from you.</p>

<p>You start exploring the room, peering at the cats in the gloom.  Some seem odd to you...like their bodies aren't proportioned right.  Others are unnaturally large, and you wonder if they're illegal wildcat breeds....</p>

<p>As you reach the far end of the room, you catch a quick movement out of the corner of your eye.  You turn your head just in time to see the old man turn off the lights before he slips out.</p>

<p>Fumbling your way in the dark, you're struck by how eerily silent it is all of the sudden.  All of the rustling and licking sounds are now silent; completely silent.  You start to feel uneasy, and all you can think of is getting out of this room.</p>

<p>As you feel your way past cage after cage, you feel the unmistakable brush of a cat against your legs.  "It's just a cat," you think to yourself, but hairs on the back of your neck are standing up.  As you slowly work your way towards the door, the silence is punctured by a lone cat hissing.  Then another joins in, and another...more cat hisses join in.  As chilling as the hissing is, it is not nearly as frightening as what it becomes: the hissing starts to slowly join a rhythm.  You're still halfway to the door, but now the hissing is a steady, synchronized beat: "hiss...hiss...hiss...hiss."  You try to move more quickly, but haste is not your friend...you stumble over a cage, and feel another cat brush against your legs...you start to panic, and move faster, but it's a mistake.  You trip over something on the floor, and before you know it, you're on the ground...at their level.  Suddenly, the synchronized hissing stops, and it's silent again.  The sound that comes next is worse...the unmistakable sound of metal cage latches being manipulated...dozens of them...at once.</p>

<p>You try to scrabble to your feet, but it's too late: the furry bodies are on you.  You try to fling them off, but there are so many, so very many of them...biting, and scratching....</p>

<p>The last thing you ever think is that you should never have left the safety of OSCON....</p>

{{> the_end}}
