<div class="page-number odd">29</div>

{{> vote}}

<h1><cite class="proposal">Digital Dancing</cite></h1> 

<p>You check out the schedule, and you note with excitement that there's a presentation called <cite class="proposal">Digital Dancing</cite>.  You grab your stuff and head for that conference room.</p>

<p>As you take your seat, two presenters take the stage.  The nerdier of the two announces "what you're about to see is choreographed; but not in the traditional sense.  Thanks to some incredible hardware, and the open source software that powers it, the images being projected are actually <i>reacting to the dancer's movements</i>; this is not a carefully synchronized video, but a real-time production.  Without further ado...."  As the presenter's words trail off, the lights dim, and the dancer takes her place in front of the projection screen and then something magical happens....</p>

<p>The dance is mesmerizing: digitally constructed shapes hinting at birds swoop and gather, as if they were moving along with the dancer's beautiful performance.  When the dance concludes, you erupt into applause along with the rest of the audience.</p>

<p>What follows is a fascinating discussion of the technology, from the open source Kinect drivers to the animation algorithms.  At the end of the presentation, the dancer talks about her role in the project; how she choreographed the dance, and worked with the programmer to create images and animations that fit with her vision.</p>

<p>Feeling inspired to creative movement your own self, you take advantage of the Q&A session to ask the dancer if there's somewhere she recommends that you can go dancing while you're in Portland.  She laughs, and lists several wonderful sounding clubs.  You decide to check out a latin dance club she recommended, and head back to the hotel to change into your dancing shoes....</p>

{{> the_end}}
