<div class="page-number even">14</div>

<p>You look at your schedule, but after that amazing talk, the rest of today's events just seem dull in comparison.  You decide to go back to the hotel room and work on that project that's going to make you enough money to buy your own 3D printer instead.</p>

<p>As you leave the conference center, you notice police cars and ambulances with parked all around the conference center.  An EMT rushes up to you and says "are you okay?  Not many made it out of there alive...."  Wondering if this is some kind of publicity stunt, open your mouth to ask what he's talking about, but his face turns white and he rushes into the conference center.  Shaking your head, you head back to the hotel, dreaming of 3D printing.</p>

{{> the_end}}
