<div class="page-number odd">3</div>

<p>As you settle into a conference room chair, and get a good look at the presenter, you think to yourself that if Perl is going to make a comeback, it's not going to be because Perl fans are sharp dressers.  The presenter's mustache, which might have been cool once in 1978, positively twitches with anticipation.</p>

<p>After everyone finds their seats, he starts talking rapidly in a slightly high voice about the merits of Perl.  As slide after slide of punctuation marks go by, you start to tune the presenter out, and look around at your fellow attendees instead.</p>

<p>One immediately grabs your attention.  A girl with half her head shaved, a black leather jacket, and lots of eye shadow sits with her arms crossed over a tattered t-shirt of Phil Collins at a drum set.  You remind yourself that Phil Collins is an amazing drum player.  She glances around in disdain, and then jumps up and heads for the exit, just as you feel your phone vibrate in your pocket.</p>

<ul class="instructions">
<li>If you choose to follow the intriguing stranger, <a href="/page4">turn to page 4</a>.</li>
<li>If you choose to check the text message you just received, <a href="/page5">turn to page 5</a>.</li>
</ul>
