<div class="page-number even">20</div>

<p>Dissatisfied with the talks you've seen, you start to think "maybe open source stuff isn't so great after all."  You decide to ditch this stupid conference, and start walking through the convention center.  Just as you're about to walk past the last hall, you see a big "Microsoft" logo having over the last (and largest) of the convention center halls.  You wander over, and see that Microsoft's BUILD conference is taking place here too!  You wonder what convention center booker got fired for booking a Microsoft conference the same weekend as OSCON.</p>

<p>Feeling mutinous, you grab a BUILD badge that someone just tossed in a rubbish bin, and head in.</p>

<p>As you walk in, you notice that the air conditioning is turned up a few notches in here...you shiver, and pull on your jacket.  You look around, and everyone's smiling at you, and gesturing for you to come over and talk to them at their booth.  You note with satisfaction that everyone's neatly dressed.  Polo shirts and khakis.  No flannel shirts or leather jackets here, no sir!</p>

<p>A eager young man with a neat haircut bumps into you as he rushes past.  "Oh, I'm so sorry, sir!  I'm just so excited to get to the demo of the newest version of Microsoft Office!  You should really come...we're actually going to get to play with it!"  Just as you're about to follow the young man, you notice a booth with the newest XBox on display.</p>

<ul class="instructions">
	<li>Everyone's got to write documents...if you decide to go with the young man, <a href="/page24">turn to page 24</a>.</li>
	<li>If you think the new XBox sounds like more fun, <a href="/page26">turn to page 26</a>.</li>
</ul>
