<div class="page-number even">10</div>

<p>OSCON is fun enough, you suppose.  But it's just not <i>cute</i> enough.  Suddenly, you miss your cat, Mittens.  You decide to go find yourself an ice cream shop to cheer yourself up, and as you're walking out of the convention center, you notice with glee that there's a cat show going on in the next hall over!</p>

<p>You cheerfully pay the $10 admission, and walk into a massive roomful of cuteness.  Cats everywhere!  Big, small, exotic, ordinary...some purring, some clearly agitated.  You pick an aisle at random, and start admiring the noble creatures.</p>

<p>As you reach the end of the isle, you notice a door with a sign that reads "CAUTION: EXTREME CAT LOVERS ONLY."  You're about to investigate when someone shouts at you: "hey!  haven't you always wondered what it would be like to <i>be</i> a cat?"</p>

<ul class="instructions">
	<li>If you want to see what's behind the door, <a href="/page23">turn to page 23</a>.</li>
	<li>If you're curious about what it's like to be a cat, <a href="/page27">turn to page 27</a>.</li>
</ul>
