<div class="page-number odd">25</div>

<p>You glance at the schedule, but your head is full of music, and you don't think you could bear a talk about anything else.  So you decide to ditch the rest of the day's events and head over to some of Portland's excellent record stores to pick up something interesting.</p>

<p>As you board a bus to take you down to Everyday Music, you notice a commotion at the convention center...national guard soldiers in gas masks, wielding rifles are rushing towards the convention center.  As you lose sight of the convention center behind a building, you see someone stagger out of the convention center...at least...you <i>think</i> it's a person....</p>

{{> the_end}}
