<div class="page-number odd">9</div>

{{> vote}}

<h1><cite class="proposal">Postmodern Pointillism</cite></h1> 

<p>You peruse the schedule, and <cite>POSTMODERN POINTILLISM</cite> jumps out at you.  Maybe that art history minor will come in handy after all!  You grab your stuff and head in that direction.</p>

<p>As you walk into the conference room, you're struck by the beautiful painting projected on the screen.  As the talk starts, the speaker introduces it as <cite>Found</cite>, by Friedel Dzubas.  It's a colorful, modern piece, that you learn you can see while you're in town: it's hanging at the Portland Art Museum.</p>

<p>The speaker then introduces a pointillism technique that takes existing photographs, analyzes their color content, and uses them as "pixels" in a bigger piece.  He shows a couple of examples of this technique.  You've always found this technique kind of gimicky yourself, and the speaker surprises you by echoing that sentiment.  "However," he continues, "what if it were more interactive?  What if we, the people in this room, could re-create this, and make it an interactive piece as a monument to our time here together?"</p>

<p>The speaker invites everyone to go to a URL, which shows a faded version of the painting and, below it, a list of color swatches.  He explains that by clicking on one, it will activate your phone's camera: if you take a photo of something that primarily consists of that color, you will contribute to the piece.</p>

<p>The goal, it seems, is to to have as much of the painting filled in as possible before the conference is over.  The speaker then shows how the finished product is a living document...if you hover over a "pixel", it will expand into the original photograph, along with information about the photographer (if they choose to share any details about themselves).</p>

<p>The talk concludes with a discussion of the open source tools that he used to construct the website, which is fascinating and informative.</p>

<ul class="instructions">
	<li>If you leave the conference to take pictures, <a href="/page18">turn to page 18</a>.</li>
	<li>If you wish you could have had a tutorial about how to make such a website your own self, <a href="/page17">turn to page 17</a>.</li>
</ul>
