<div class="page-number even">18</div>

<p>You briefly wonder if you should check the schedule to see if there's anything else you want to see...after all, you did come all the way across the country to go to OSCON.  But impulsivity gets the better of you, and you decide you'd much rather be out photographing the city.  You pull up the pointillism app, and fix a couple of colors in your mind that particularly speak to you, and set off to find things in that color range.</p>

<p>As you leave the conference center, you look back over your shoulder, you notice that the glass on the convention center doors are reflecting exactly the kind of green you're looking for, so you snap a picture before moving on.</p>

<p>After getting several more great photographs, and uploading them to the pointillism site, you stop into a appealing little café.</p>

<p>As you're eating your sandwich (with all-local ingredients), you pull out your camera and start flipping through the pictures you took.  You come to the picture you took of the convention center.  You see something odd through the reflections on the glass, so you zoom in and see...something you can't even describe.  You slowly set your sandwich down, staring at the image on your phone.  It...<i>twists</i> in ways that shouldn't be possible.  Almost as if you were underwater, you feel your hand move in slow motion as you press the delete button.</p>

<p>You leave the sandwich half-eaten.  You've lost your appetite.  You never speak to anyone about what you saw behind that glass.</p>

{{> the_end}}
