<div class="page-number even">16</div>

<p>You're so inspired by the possibility of tracking the random meanderings of a room full of strangers, you decide to skip the rest of the day's events, rent a car, and head out to the Oregon coast...where you can check into the site, and be the first person to leave a data point outside of Portland.</p>

<p>As you're headed out of the convention center, a stranger whips their head around to stare at you.  You think you hear them say "you can't leave".  The stranger starts walking towards you, and you hear someone say behind you, quite distinctly, "you can't leave."  You look around and you notice that several people are staring at you.  You start to edge your way to the exit, and the crowd follows you, chanting in unison "you can't leave."  Just as you break into a run, their eyes start glowing, and their chanting rises to a shriek....</p>

<p>You manage to push your way through the exit just as you feel someone grab at your jacket.  You wrench free, and burst into Oregon sunlight.  You keep running.  When you don't hear the sounds of pursuit, you look behind you.  Much to your relief, no one has followed you.  Instead, you see the dim outline of a crowd of people standing behind the glass doors, eyes glowing....</p>

<p>You quickly make your way to the nearest car rental location, trying to put the disturbing scene behind you.  As you merge onto route 26 towards the Oregon coast, you hope next year's OSCON isn't quite so...exciting.</p>

{{> the_end}}
