<div class="page-number odd">21</div>

<p>You walk out of the conference room feeling satisfied.  You really liked some of the visual effects used on the cloud map, and you can't wait to take the page apart and learn how to do that yourself.  You also found out about some interests that you didn't think you had before...but you do now!</p>

<p>As you walk out of the conference center into the Portland afternoon, you hear a scream....  You whip your head around, but everyone seems to be going about their business...chatting with each other, going through the tables of free literature, filing out....  As you look around to see if there's any kind of commotion &mdash; anything that might have made someone scream &mdash; the whole world is inverted, like a negative of a photograph...except everyone's face is replaced by a skull!  It only lasts for a second...you can't even be sure you really saw it, but suddenly you're gripped with a deep urge to get back to the safety of your hotel.</p>

<p>You run all the way back to the hotel, and don't look back even once.</p>

{{> the_end}}
