<div class="page-number odd">27</div>

<p>You turn your attention away from the curious door, and walk over to the ruffled-looking man who called out to you.  As you approach him, he asks again "haven't you always wondered what it's like to <i>be</i> a cat?"  You start to reply that actually, you haven't, but he interrupts you, and pulls you over to his booth....</p>

<p>"We operate a chain of giant-sized houses, where you can be the cat," he explains.  Showing you pictures of oversized houses with people curled up on giant couches, crouching on tables, you can't decide if the man is crazy or a genius.  You just about make your mind up to leave as he's explaining to you that there are even litterboxes for the "extreme enthusiasts."</p>

<p>The man sees he's about to lose you, and makes an odd sound...almost like a...purr.  You turn back to him, and notice that there's something funny about his eyes...the pupils.  Suddenly, you find yourself hanging on his every word, though you can't explain why....</p>

<p>He's explaining that obviously they can't fit a full human-sized exhibit in the convention center, but there is a cage for those interested in trying the cat experience..."just like you're a show cat," he says.</p>

<p>Despite yourself, you feel compelled to crawl into the cage.  A small voice in the back of your head is saying uneasy things, but the man's voice is so comforting.  There's a bowl of cat food in the cage, and suddenly it looks incredibly appealing.  You reach for it with your hands, but that doesn't seem right...so you lower your face into the food bowl.  You feel a contented purr starting to rise in your throat.</p>

<p>The last thing your human mind hears is the clink of a latch behind you, and someone cooing "ooooh, such a pretty kitty!".</p>

{{> the_end}}
