<div class="page-number even">6</div>

<p>You're so excited about knocking out some challenges, you decide to leave the conference early.  Maybe you'll stop at a local boutique and buy some fancy new duds from a local designer so you'll look sharp for your challenge group.</p>

<p>As you leave the convention center, you can't help but notice there's a lot of facial hair going on...impressive mutton chops, full beards.  You <i>are</i> Portland, but something still strikes you as odd about it...</p>

<p>Just as you're about to step out of the convention center, someone roughly shoulders past you.  You turn around, ready to apologize, but you're shocked to see a man with hair <i>all over his face</i> snarling at you.  His teeth are sharper than normal, and there's hair on the back of his hands and his nose looks decidedly...snout-like....  He raises hands &mdash; claws, really &mdash; and starts to come towards you at the same time you hear a howl in the distance.  You decide you've had enough of OSCON for one day.  Stumbling through the door, you break into a run.  You don't look back.</p>

{{> the_end}}
