<div class="page-number odd">17</div>

<p>As you sit there, wishing that you could really get your hands dirty with some of the techniques the presenter used in putting together the pointillism site, the presenter is interrupted in his Q&amp;A by a conference organizer.</p>

<p>The conference organizer leaves, and the speaker says "it appears that one of the workshop presenters has taken ill; fortunately, I have a workshop prepared on the talk you just heard...if you want to dive deeper into this, then follow me!"</p>

<p>Not believing your luck, you follow the presenter into a conference room with tables set up.  For the next three hours, you learn techniques for image caching to enable this kind of application, along with hands-on experience with some really powerful open source graphic manipulation libraries.</p>

<p>As you leave the conference center, you stop a conference organizer and ask if the presenter who was taken ill is okay.  The organizer gives you a funny look as she absentmindedly scratches her arm.  "I hope so...he was complaining of an itch...and he kept scratching himself...we went to call a doctor, and when we came back, he he had scratched bloody wounds all over his arms...."  You notice that she's scratching her arms without thinking about it.  You back away slowly, and head toward the exits.</p>

<p>As you head back to the hotel, you see half a dozen white vans pull up to the convention center.  Almost before the vans screech to a halt, white spacesuit-clad figures pour out of it, holding things that look like pesticide cans.  One of them looks in your direction, and starts coming towards you with the pesticide can...you have the sudden impulse to run...so you do.  You glance over your shoulder, and see that the white clad man is chasing you full speed.</p>

<p>Heart pounding, you run through the streets of Portland, and finally lose the spacesuit man.  You lean against a brick wall in an alley, catching your breath.  You wonder if every OSCON is this exciting....</p>

{{> the_end}}
